*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.suo
[sS]ource
[sS]andbox
_BuildOutput/*
build/*.nupkg
*.orig
*.[Dd]ot[Ss]ettings
/packages/*
/.vs/*
!packages/repositories.config